PersistentData/App
PersistentData/Console/Analytics
PersistentData/Console/History
PersistentData/Console/Settings
PersistentData/Console/VolatileEnvironment.json
PersistentData/Workspace/**

bin/Debug/net8.0/PersistentData/Console/Analytics
bin/Debug/net8.0/PersistentData/Console/History
bin/Debug/net8.0/PersistentData/Console/Settings

!PersistentData/Workspace/Welcome.txt